<div class="navigation row">
  <div class="navigation-logo col-6">
    <a href="#">30 APP</a>
  </div>
  <nav class="navigation-menu col-6">
    <ul class="row">
      <li class="col-2">
        <a href="/">Weather</a>
      </li>
      <li class="col-2">
        <a href="#">link</a>
      </li>
      <li class="col-2">
        <a href="#">link</a>
      </li>
      <li class="col-2">
        <a href="#">link</a>
      </li>
      <li class="col-2">
        <a href="#">link</a>
      </li>
      <li class="col-2">
        <a href="#">link</a>
      </li>
    </ul>
  </nav>
</div>