<div class="weather">
    <div class="weather-box">
        <div class="weather-search">
            <input type="text" name="search" placeholder="Enter city name">
            <button>
                <span class="mdi mdi-magnify"></span>
            </button>
        </div>
        <div class="weather-error">
            <p>Invalid city name!</p>
        </div>
        <div class="weather-inner">
            <div class="weather-img">
                <img class="weather-img__icon" src="/img/icon-rain.png" alt="icon-rain">
                <h1 class="weather-temp">23°c</h1>
                <h2 class="weather-city">Lviv</h2>
            </div>
            <div class="weather-details">
                <div class="weather-details__box">
                    <span class="mdi mdi-water-percent"></span>
                    <div class="weather-hum">
                        <p class="weather-hum__num">30%</p>
                        <h3>Humidity</h3>
                    </div>
                </div>
                <div class="weather-details__box ">
                    <span class="mdi mdi-weather-dust"></span>
                    <div class="weather-wind">
                        <p class="weather-wind__num">10 km/h</p>
                        <h3>Wind Speed</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>